body {
  background: #FFFFFF;
}

#main {
  height: 830px;
  background: #F6F6F6;

}

#header-container {
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 85px;
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-evenly;
  background: #FFFFFF;
}

.tab {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #1F1E38;
  text-align: center;
  margin-top: 5px;
  border-radius: 25px;
}

#isis-header:hover {
  color: white;
  background: #0B0A07;
  cursor: pointer;
}

#governmentheader:hover {
  color: white;
  /*background: #EB8A8A;*/
  background: #A63A50;
  cursor: pointer;
}

#opposition-header:hover {
  color: white;
  /*background: #74DB7B;*/
  background: #5E8C61;
  cursor: pointer;
}

#islamist-header:hover {
  color: white;
  background: #848a86;
  cursor: pointer;

}

#kurds-header:hover {
  color: white;
  /*background: #E0E069;*/
  background: #BDC667;
  cursor: pointer;
}

#international:hover {
  color: white;
  /*background: #89C9F0;*/
  background: #427AA1;
  cursor: pointer;
}

#foreign-container1 {
  width: 320px;
  height: 90px;
  border-radius: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: #D6D6D6;
  background: #F6F6F6;
  margin-top: 30px;
  margin-left: 110px;
  margin-right: 300px;
  display: flex;
  justify-content: center;
}

#foreign-container2 {
  position: absolute;
  width: 110px;
  height: 90px;
  border-radius: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: #D6D6D6;
  background: #F6F6F6;
  margin-top: 270px;
  margin-left: 900px;
  display: flex;
  justify-content: center;
}

#foreign-container3 {
  position: absolute;
  width: 250px;
  height: 105px;
  border-radius: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: #D6D6D6;
  background: #F6F6F6;
  margin-top: 180px;
  margin-left: 1100px;
  display: flex;
  justify-content: center;
}

.foreign {
  margin-top: 9px;
  margin-right: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.foreign3 {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.country {
  margin-top: 5px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  width: 105px;
}

.maincountry {
  margin-top: 5px;
  text-align: center;
  font-style: italic;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  width: 105px;
}

.maincountry1 {
  margin-top: 5px;
  text-align: center;
  font-style: italic;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  width: 105px;
}

.maincountry:hover {
  cursor: pointer;
}

.flag {
  filter: grayscale(100%);
}

.flag:hover {
  filter: none;
}

#government-container {
  width: 390px;
  height: 365px;
  border-radius: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: #D6D6D6;
  background: #F6F6F6;
  margin-top: 105px;
  margin-left: 30px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.government {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 5px;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.government1 {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

}

.government2 {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

}

#kurds-container {
  position: absolute;
  width: 270px;
  height: 250px;
  border-radius: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: #D6D6D6;
  background: #F6F6F6;
  margin-top: 130px;
  margin-left: 570px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.kurds {
  margin-left: 10px;
  margin-top: 13px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.kurds1 {
  margin-left: 10px;
  margin-top: -5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#islamist-container {
  position: absolute;
  width: 250px;
  height: 255px;
  border-radius: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: #D6D6D6;
  background: #F6F6F6;
  margin-top: -275px;
  margin-left: 690px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.islamist {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.islamist1 {
  margin-left: 8px;
  margin-right: 1px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#isis-container {
  width: 135px;
  height: 125px;
  border-radius: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: #D6D6D6;
  background: #F6F6F6;
  margin-top: -520px;
  margin-left: 490px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.isis {
  /*margin-left: 10px;*/
  margin-top: 8px;
  /*margin-right: 10px;*/
  display: flex;
  align-items: center;
  flex-direction: column;
}

#opposition-container {
  position: absolute;
  width: 380px;
  height: 340px;
  border-radius: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: #D6D6D6;
  background: #F6F6F6;
  margin-top: -200px;
  margin-left: 1000px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.opposition {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 13px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.opposition1 {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.opposition2 {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

hr{
  position: absolute;
  border-top: 3px solid #D6D6D6;
}

#turkeyisis:hover {
  position: absolute;
  border-top: 5px solid #D6D6D6;
}

hr.line1{
  width: 345px;
  margin-top: -70px;
  margin-left: 440px;
}

hr.line2{
  width: 139px;
  margin-top: 50px;
  margin-left: 185px;
  transform: rotate(90deg);
}

hr.line3{
  width: 60px;
  margin-top: 10px;
  margin-left: 240px;
  transform: rotate(90deg);
}

hr.line4{
  width: 218px;
  margin-top: 40px;
  margin-left: 270px;
}

hr.line5{
  width: 140px;
  margin-top: 340px;
  margin-left: 430px;
}

hr.line7{
  width: 90px;
  margin-top: 325px;
  margin-left: 430px;
}

hr.line6{
  width: 213px;
  margin-top: 218px;
  margin-left: 414px;
  transform: rotate(-90deg);
}

hr.line8{
  width: 55px;
  margin-top: 55px;
  margin-left: 945px;
}

hr.line9{
  width: 55px;
  margin-top: 70px;
  margin-left: 635px;
}

hr.line10{
  width: 75px;
  margin-top: 430px;
  margin-left: 845px;
}

hr.line11{
  width: 30px;
  margin-top: 70px;
  margin-left: 945px;
}

hr.line12{
  width: 70px;
  margin-top: 430px;
  margin-left: 1000px;
}

hr.line13{
  width: 346px;
  margin-top: 370px;
  margin-left: 850px;
}

hr.line14{
  width: 85px;
  margin-top: 280px;
  margin-left: 1170px;
  transform: rotate(90deg);
}

hr.line15{
  width: 213px;
  margin-top: 218px;
  margin-left: 429px;
  transform: rotate(90deg);
}


hr.line16{
  width: 99px;
  margin-top: 161px;
  margin-left: 530px;
  transform: rotate(90deg);
}

hr.line17{
  width: 348px;
  margin-top: 210px;
  margin-left: 580px;
}

hr.line18{
  width: 172px;
  margin-top: 295px;
  margin-left: 841px;
  transform: rotate(270deg);
}

hr.line19{
  width: 24px;
  margin-top: 124px;
  margin-left: 597px;
  transform: rotate(90deg);
}

hr.line20{
  width: 365px;
  margin-top: 180px;
  margin-left: 594px;
}

hr.line21{
  width: 158px;
  margin-top: 261px;
  margin-left: 879px;
  transform: rotate(90deg);
}

hr.line22{
  width: 140px;
  margin-top: 325px;
  margin-left: 974px;
}

hr.line23{
  width: 254px;
  margin-top: 199px;
  margin-left: 847px;
  transform: rotate(90deg);
}

hr.line24{
  width: 210px;
  margin-top: 340px;
  margin-left: 958px;
}

hr.line25{
  width: 69px;
  margin-top: 146px;
  margin-left: 560px;
  transform: rotate(90deg);
}

hr.line26{
  width: 220px;
  margin-top: -55px;
  margin-left: 440px;
}

hr.line27{
  width: 176px;
  margin-top: 32px;
  margin-left: 574px;
  transform: rotate(-90deg);
}

hr.line28{
  width: 350px;
  margin-top: 120px;
  margin-left: 662px;
}

hr.line35{
  width: 520px;
  margin-top: 150px;
  margin-left: 479px;
  transform: rotate(-180deg);
}

hr.line30{
  width: 390px;
  margin-top: 135px;
  margin-left: 609px;
}

hr.line31{
  width: 255px;
  margin-top: 165px;
  margin-left: 745px;
}

hr.line32{
  width: 335px;
  margin-top: 128px;
  margin-left: 297px;
  transform: rotate(-90deg);
}

hr.line33{
  width: 35px;
  margin-top: 295px;
  margin-left: 430px;
}

hr.line34{
  width: 225px;
  margin-top: -40px;
  margin-left: 464px;
  transform: rotate(-180deg);
}

hr.line29{
  width: 160px;
  margin-top: 229px;
  margin-left: 399px;
  transform: rotate(-90deg);
}

hr.line36{
  width: 50px;
  margin-top: 310px;
  margin-left: 430px;
}

hr.line37{
  width: 140px;
  margin-top: 170px;
  margin-left: 660px;
  transform: rotate(90deg);
}

hr.line38{
  width: 75px;
  margin-top: 202px;
  margin-left: 708px;
  transform: rotate(90deg);
}

hr.line39{
  width: 35px;
  margin-top: 325px;
  margin-left: 536px;
}

hr.line40{
  width: 183px;
  margin-top: 338px;
  margin-left: 980px;
  transform: rotate(-90deg);
}

hr.line41{
  width: 250px;
  margin-top: 355px;
  margin-left: 942px;
}

hr.line42{
  width: 514px;
  margin-top: 195px;
  margin-left: 430px;
}

hr.line43{
  width: 159px;
  margin-top: 276px;
  margin-left: 863px;
  transform: rotate(90deg);
}

hr.line44{
  width: 75px;
  margin-top: 415px;
  margin-left: 878px;
}

hr.line45{
  width: 314px;
  margin-top: 259px;
  margin-left: 720px;
  transform: rotate(90deg);
}

hr.line46{
  width: 20px;
  margin-top: -172px;
  margin-left: 1200px;
  border-top: 3px solid #58db61;
}

hr.line47{
  width: 20px;
  margin-top: -148px;
  margin-left: 1200px;
  border-top: 3px solid #eb6e6e;
}

hr.line48{
  width: 20px;
  margin-top: -124px;
  margin-left: 1200px;
  border-top: 3px solid #e3e354;
}

.box {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.box-content {
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  border-radius: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000;
  width: 50%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 30px;
}

.popdes {
  font-size: 24px;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 20px;
}

#gov-content {
  border-color: #A63A50;
}

#isis-content {
  border-color: #0B0A07;
}

#sdf-content {
  border-color: #BDC667;
}

#hts-content {
  border-color: #848a86;
}

#rebels-content {
  border-color: #5E8C61;
}

#us-content {
  border-color: #427AA1;
}

#rus-content {
  border-color: #427AA1;
}

.close, .close1, .close2, .close3, .close4, .close5, .close6, .close7 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close1:hover, .close2:hover, .close3:hover, .close4:hover, .close5:hover, .close6:hover, .close7:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#footer-container {
  /*margin-top: 420px;
  margin-left: -10px;
  margin-right: -10px;*/
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 15px;

  padding-right: 10px;
  padding-bottom: 15px;
  background: #FFFFFF;
}

.footer {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#legend-container {
  margin-top: -300px;
  margin-left: 1200px;
}

.legend {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
